<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




    <link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
    <script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
    <link href="~/Content/layout/layout.css" rel="stylesheet" />
    <link href="~/Content/review/review.css" rel="stylesheet" />
    <link href="~/Content/review/comments-and-reply.css" rel="stylesheet" />
    <link href="~/Content/review/reviewStar.css" rel="stylesheet" />
    <meta charset="UTF-8">

</head>
<body >

    <nav class="navbar navbar-expand-lg navbar-dark bg-info" >

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01" >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                @*<li class="nav-item active">
            @Html.ActionLink("API", "Index", "Help", null, new { @class = "nav-link" })
        </li>*@


                @if (User.Identity.IsAuthenticated)
                {
                    @*<li class="nav-item active">
                <a class="nav-link" href="/reviewgetpost/createreview">Create Review</a>
            </li>*@
                    <li class="nav-item active">
                        <a class="nav-link" href="/userprofile/profile">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/user/logout">Logout</a>
                    </li>

                }
                else
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="/user/signin">Log In</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/user/signup">Register</a>
                    </li>
                }

                <li class="nav-item active">
                    @Html.ActionLink("API", "Index", "Help", null, new { @class = "nav-link" })
                </li>
            </ul>
            @*<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>*@
        </div>
    </nav>







    <div class="container-fluid">
        @RenderBody()    
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
